@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800&display=swap');
.container-navbar{    
    display: flex;
    justify-content: space-around;
    width: 99vw;
}
.section-navbar1{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.section-navbar{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.section-navbar2{
    display: none;
    gap: 1.5rem;
    align-items: center;
}

.h4-navbar{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;    
    color: #000000;
    border: 1px solid #afafaf;
    padding: 8px;
    border-radius: 5px;
}
.h4-navbar:hover{
    background-color: #efefef51;
}
@media (max-width: 600px){
    .section-navbar1{
        display: none;
    }
    .section-navbar2{
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        flex-wrap: wrap;
        width: 90vw;
        gap: 10px;
    }
    .section-navbar2 .h4-navbar{
        font-size: 20px;
    }
}