.section-detailenvios{    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.div-detailenvios{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.div2-detailenvios{    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 15%;
    text-align: center;
}
.div2-detailenvios p {
    margin: 0;
}
.div3-detailenvios{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: c;
    padding: 20px;
}
.div3-detailenvios:after {    
    content: '';
    height: 70%;
    width: 0.5px;
    position: relative;
    right: 0;
    top: 5%;
    background-color: #000000;
  }
.div3-detailenvios::before {    
    content: '';
    height: 70%;
    width: 0.5px;
    position: relative;
    left: 0;
    top: 5%;
    background-color: #000000;
  }
  .letra-envios-detailenvios{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1em;
  }