.grid-container-cards{   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(326px, 326px));
    gap: 30px;
    justify-content: space-between;
}
.ventaporcaja-home{    
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 10px;
height: 49px;
background: #0E0E11;
}
.ventaporcaja-letra-home{
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 33px;
text-align: center;
letter-spacing: 0.16em;
color: #FFFFFF;
}
.vinos-text-home{    
font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 56px;
color: #C64940;
}
.destacados-text-home{    
font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 56px;
margin: 15px 25px;
color: #145f7a;
margin-top: 0;
}
.section-destacados-home{    
    margin-top: 10px;
    padding: 5px 0px 25px 0px;
    position: relative;
    width: 95vw;
    padding-bottom: 25px;
    background-image: url("./backgroundDestacados.svg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 95vw;
    margin: auto;
    margin-top: 30px;
}
.section3-mascota-home{    
    height: 270px;
    display: flex;
    justify-content: end;
    padding-right: 115px;
}
.section4-sub-home{
    background-image: url("./backgroundsub.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 95vw;
    height: 125px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.input-sub-home{    
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: #197799;
margin: 0;
background-color: white;
border: none;
padding: 20px;
width: 30vw;
}
.button-sub-home{
    background-color: #197799;
    color:white;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 0;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 42px;
padding: 8px;
}
.section5-comunidad-home{
    margin: 20px 0px 40px 0px;
}
.comunidad-home{    
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
color: #197799;
margin: 0;
margin-bottom: 20px;
text-align: center;
}
.subsection5-comunidad-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 95vw;
    margin: auto;
}
.div-comunidad-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 40px;
    text-align: center;
    background-color: #F2F2F2;
}
.avatar-home{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.comentario-comunidad-home{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
margin: 0;
}
.section6-home{
    width: 95vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}
.ig-home{
    margin: 0;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 42px;
}
.sub-section-ig-home{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.div-ig-home{
    background-color: #D9D9D9;    
width: 329px;
height: 329px;
}
.section7-footer-home{
    background-color: #B8B4B4;
    width: 95vw;
    margin: auto;    
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    margin-bottom: 30px;
}
.subdiv1-footer-home{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.subdiv1-footer-home p{
    margin: 0;
font-family: 'Poppins';        
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;
color: white;
}
.subdiv2-footer-home{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}
.subdiv2-footer-home::before {
    content: '';
    height: 90%;
    width: 0.5px;
    position: relative;
    left: 0;
    background-color: #fdfdfd;
}
.subdiv2-footer-home::after {
    content: '';
    height: 90%;
    width: 0.5px;
    position: relative;
    right: 0;
    background-color: #ffffff;
}
.subdiv3-footer-home{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.subdiv2-div-footer-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0px;
    padding-left: 3vw;
}
.subdiv2-p-footer-home{
    margin: 0;
font-family: 'Poppins';    
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
color: white;
}
.div-subdiv1-footer-home{    
    display: flex;
    justify-content: center;
    gap: 10px;
}
.subdiv3-p-footer-home{    
    margin: 0;
font-family: 'Poppins';   
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
color: white;
}
.detailenvios-media-home{
    display: flex;
}
.section1-media-home{
    display: initial;
}
@media (max-width: 600px){
    .ventaporcaja-letra-home{
        font-size: 16px;
    }
    .detailenvios-media-home{
        display: none;
    }
    .section1-media-home{
        display: none !important;
    }
}